<div class="row">
    <h5>New {{data.title}}</h5>
    <hr style="size: 30px;">
        <img class="img-fluid" src="{{data.image}}" alt="..."/>
        <h1>{{data.title}}.</h1>
        <p class="desc">{{data.description}}</p>
        <h2 class="h1">Price : {{data.price}}$</h2>
        <p style="font-size: 25px;"><img src="https://i.postimg.cc/m2BDPJmP/Star.png" class="des"  alt="...">{{data.rating.rate}}</p>
        <p style="font-size: 20px; font-weight: 500; color: red;">Hurry only {{data.rating.count}} stocks left.</p>
</div>