<div style="background-color: white; margin: 10px 40px;">
    <img src="https://i.postimg.cc/CKQjVFhW/Whats-App-Image-2024-08-15-at-18-48-47-6032a725.jpg" width="950" alt="" style="padding-left: 520px; padding-top: 50px;">
    <h2 style="text-align: center; padding-top: 30px;">Missing Cart items? </h2>
    <p style="text-align: center; color: #bfbfbf; padding-top: 15px; padding-bottom: 15px;">Login to see the items you added previously</p>
    <a class="btn btn-primary" routerLink="/login" role="button" style="padding: 10px 40px; margin-left: 655px;">Sign In</a><br>
    <button type="button" routerLink="/product" class="btn btn-outline-primary" style="margin-top: 25px; margin-bottom: 50px; border-color: transparent; margin-left: 640px;">Continue shopping</button>
</div>