<div style="padding: 20px 40px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/332/image/5d2743f3be835a42.jpg?q=60" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/332/image/65dca95e8b89b9e8.jpg?q=60" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/332/image/8cb2615d3ec39f60.jpg?q=60" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/332/image/7d44711a2d231f9e.jpg?q=60" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/332/image/6c725cbe9cda7023.jpg?q=60" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/332/image/aa3f71833d4c2707.jpg?q=60" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/173/image/764fb9b9dd00ade5.jpg?q=60" class="d-block w-100" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/2000/288/image/41fc5c22a3d4101c.jpg?q=60" class="d-block w-100" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/a83ed71a398dd369.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/750a64784d4dab42.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/1bcba2663e42a604.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/fd51d9457074073f.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/1c995ad1b1cd6b90.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/ddb21c2a5a76a1c7.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/2d96df1f04fa9263.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/f37867643275d5c0.jpg?q=60" width="479.7" alt="...">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/640/343/image/0cb74294a7cfa500.jpg?q=60" width="479.7" alt="...">
</div>